* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350px;
  width: 450px;
  border: 2px solid #FDEFEF;
  border-radius: 20px;
}
.main h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #f4f4f4;
  font-style: italic;
  font-family: "Scheherazade New", serif;
}
.main .line {
  position: absolute;
  width: 100%;
  height: 3px;
  margin-top: 65px;
  background: #D6D2C4;
  border-radius: 20px;
  opacity: 0.3;
}

.options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.options .custom-select {
  position: relative;
  outline: none;
}
.options .custom-select select {
  text-align: center;
  background: transparent;
  color: #f4f4f4;
  font-family: "Scheherazade New", serif;
  font-size: 1.2rem;
  padding: 0.5em 3em 0.5em 0.5em;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(244, 244, 244, 0.2);
  border: none;
}
.options .custom-select select:first-child {
  border-radius: 20px;
}
.options .custom-select select option {
  background: #111;
  color: #f4f4f4;
  border-radius: 10px;
}
.options .custom-select select option:first-child {
  display: none;
}
.options .custom-select .custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3em;
  background: #242222;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  pointer-events: none;
}
.options .custom-select .custom-arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  border-top: 0.7em solid rgba(255, 253, 253, 0.75);
}

.students, .teachers {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  padding: 15px;
  border: 2px solid #FDEFEF;
  border-radius: 20px;
}
.students h1, .teachers h1 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #f4f4f4;
  font-style: italic;
  font-family: "Scheherazade New", serif;
  font-size: 1.25em;
}
.students .line2, .teachers .line2 {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 65px;
  left: 0;
  background: #D6D2C4;
  border-radius: 20px;
  opacity: 0.3;
}
.students section, .teachers section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% - 70px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.students section .one-student, .students section .one-teacher, .teachers section .one-student, .teachers section .one-teacher {
  margin: 15px;
}
.students section .one-student h3, .students section .one-student p, .students section .one-teacher h3, .students section .one-teacher p, .teachers section .one-student h3, .teachers section .one-student p, .teachers section .one-teacher h3, .teachers section .one-teacher p {
  color: #f4f4f4;
  text-align: center;
  margin: 10px;
  font-weight: bold;
}
.students section .one-student img, .students section .one-teacher img, .teachers section .one-student img, .teachers section .one-teacher img {
  width: 100px;
  border-radius: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.students section .one-student:first-child, .students section .one-teacher:first-child, .teachers section .one-student:first-child, .teachers section .one-teacher:first-child {
  margin-top: 230px;
}
.students section .one-student::after, .students section .one-teacher::after, .teachers section .one-student::after, .teachers section .one-teacher::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: #f4f4f4;
  opacity: 0.25;
  border-radius: 20px;
}
.students section .one-student:last-child::after, .students section .one-teacher:last-child::after, .teachers section .one-student:last-child::after, .teachers section .one-teacher:last-child::after {
  display: none;
}/*# sourceMappingURL=style.css.map */